html {
    font-size: 100%;
}

[class *="col-"]  {
    border: 1px solid white;
    min-height: 40px;
    background-color: blueviolet;
    line-height: 40px;
    text-align: center;
    color: white;
}

.padding {
    padding: 20px;
}

.nested {
    background-color:lawngreen;
    border: 1px solid blueviolet;
}

.justify-cont-cent {
    justify-content: center;
}

.justify-cont-end {
    justify-content: flex-end;
}

.margin {
    margin-top: 2em;
}
